<?xml version="1.0" encoding="utf-8"?>
<odoo>


    <menuitem name="Hospital"
              id="hospital_menu_root"
              sequence="10"
    />
    <menuitem name="Details"
              id="menu_hospital_details"
              parent="hospital_menu_root"
              sequence="10"
    />
    <menuitem name="Pharmacy"
              id="menu_hospital_medications"
              parent="hospital_menu_root"
              sequence="10"
    />
    <menuitem name="Services"
              id="menu_hospital_services"
              parent="hospital_menu_root"
              sequence="10"
    />
    <menuitem name="Appointments"
              id="menu_hospital_appointments"
              parent="hospital_menu_root"
              sequence="10"
    />

</odoo>